@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

* 
{
    font-family: 'Roboto', sans-serif;

    margin: 0; 
    padding: 0;
}

p
{
    display: inline-block;

    text-align: center;

    padding: 10px;

    font-size: 1rem;
    font-weight: 600;
}

html
{
    font-size: 100%;

	height: 100%;
}

body
{
    height: 100%;
}

.loading
{
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    z-index: 5;

    transform: translateY(100%);

    transition: transform 0.7s;
    background:rgb(41, 41, 41);
}

.loading h1
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    color: white;
    text-align: center;
}

nav
{
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    position: fixed;

    width: 320px;
    height: 100vh;

    z-index: 1;

    background: white;
    transform: translateX(-100%);
    opacity: 0;
}

.transition_menu
{
    transition: transform 0.3s, opacity 0.3s;
}

.open
{
    transform: translateX(0%);
    opacity: 1;
}

nav ul
{
    display: flex;
    flex-direction: column;
}

nav ul li
{
    list-style: none;
}

nav ul li a
{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 50px;
    width: 100%;

    background: #ffffff;
    text-decoration: none;
    color: rgb(41, 41, 41);
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    transition: background 0.3s, color 0.3s, border-bottom 0.3s, border-top 0.3s;
}

nav ul li a:hover
{
    background: #ebebeb;
    color: black;
    border-bottom: 1px solid rgb(175, 175, 175);
    border-top: 1px solid rgb(175, 175, 175);
}
nav ul li a i
{
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

nav ul li a span
{
    margin-left: 15px;
}

.button_close
{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-top: 15px;
    padding-right: 15px;
    height: 50px;
}

.button_close span
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;
    padding: 1px;
    border-radius: 50%;
    border: 2px solid #353535;
    color: #353535;
    background: #ffffff;
    cursor: pointer;
    transition: color 0.3s, background 0.3s;
}

.button_close span:hover
{
    background: #1f1f1f;
    color: white;
}

.span_my_network
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;

}

.container_social span
{
    display: flex;
    justify-self: center;

    color: #353535;
}

.bar
{
    margin-top: 50px;
    width: 170px;
    height: 2px;
    background: rgb(44, 44, 44);
    opacity: 0.2;
}

.social_circles
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 77%;
    row-gap: 40px;
}

.social_branding
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 70px;
}

.social_branding a
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12px;
    height: 12px;
    padding: 10px;

    background: #181818;
    border: 2px solid #181818;
    text-decoration: none;
    border-radius: 50%;
    color: white;

    transition: background 0.3s, color 0.3s;
}

.social_branding a:hover
{
    background: #ffffff;
    color: #181818;
}

.credit
{
    padding-left: 23px;
    padding-right: 23px;

    color: rgb(83, 83, 83);
    font-weight: lighter;
}

.credit a
{
    color: #181818;
    text-decoration: none;
}

.credit a:hover
{
    text-decoration: underline;
}

.menu_button
{
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2%;
    margin-left: 2%;
    padding: 12px;
    width: 35px;
    height: 35px;


    opacity: 0.5;
    background: white;
    cursor: pointer;
    border-radius: 50%;

    transition: color 0.2s;
}

.menu_button i
{
    color: black;
    transform: rotate(0deg);

    transition: color 0.2s, transform 0.2s;
}

.menu_button:hover i
{
    transform: rotate(180deg);
    color: rgb(58, 214, 180);
}

.container
{
    display: flex;
    flex-direction: row wrap;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;

    background: #181818;

    transition-duration: 0.3s;
}

.or
{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;

    margin-top: 30px;

    padding: 30px;

    color: white;
    font-size: 29px;
    font-weight: 600;
    border-radius: 50%;
    background: #181818;

    transition-duration: 0.4s;
    z-index: 3;
}

.purcentage_vote
{

}

.button_next
{
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 3%;

    z-index: 4;

    padding: 5px 5px 5px 5px;

    border-radius: 5px;
    
    background: #161616;

    color: white;
    cursor: pointer;

    opacity: 0;

    transition: opacity 0.3s;
    transition-delay: 0.2s;
}

.button_next:hover
{
    background: #ffffff;
    color: #161616;
}

.button_next:hover p
{
    text-decoration: underline;
}

.arrow_style
{
    margin-right: 10px;
}


/**************************************************/
/***************   CHOICE ONE   *******************/
/**************************************************/

.choice_one
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    width: 50%;

    background-image: url("../img/java.jpg");
    background-size: cover;
    background-position: center;

    transition-duration: 0.4s;
}

.choice_text_one
{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 17px 0px;

    position: fixed;

    width: 30%;

    border-radius: 25px;
    background: #161616;
    color: white;

    cursor: pointer;

    transition: background 0.3s, color 0.3s, rotate 0.8s;

    transform: rotate(0deg);

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.choice_text_one:hover .choice_text_two
{
    opacity: 0;
}
/**************************************************/
/***************   CHOICE TWO   *******************/
/**************************************************/

.choice_two
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    width: 50%;

    background-image: url("../img/boomer.jpg");
    background-size: cover;
    background-position: center;

    transition-duration: 0.4s;
}

.choice_two img
{
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;

    transition: 0.2s;
}

.choice_text_two
{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px;

    position: fixed;

    width: 30%;

    border-radius: 25px;
    background: #161616;
    color: white;

    cursor: pointer;

    transition: background 0.3s, color 0.3s, rotate 0.8s;

    transform: rotate(0deg);

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}



.choice_text_two:hover
{
    transform: rotate(-90deg);
    color: black;
    background: #ffffff;
}

.choice_text_one:hover
{
    color: black;
    background: #ffffff;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/**************************************************/
/***************   MEDIA QUERIES   ****************/
/**************************************************/

@media only screen and (max-width: 1440px) 
{

}

@media only screen and (max-width: 1024px)
{
    .container
    {
        flex-flow: column;
        align-items: center;
    }

    .choice_one
    {
        height: 50%;
        width: 100%;
    }

    .choice_text_one
    {
        width: 50%;
    }

    .choice_two
    {
        height: 50%;
        width: 100%;
    }

    .choice_text_two
    {
        width: 50%;
    }

    .or
    {
        display: none;
        margin-top: 0px;
    }


}

@media only screen and (max-width: 768px)
{
    .choice_text_one
    {
        width: 70%;
    }

    .choice_text_two
    {
        width: 70%;
    }
/*
    .menu_button
{
    margin-top: 5%;
    margin-left: 5%;
}*/
}