@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

html
{
    height: 100%;
    font-size: 100%;
}

body
{
    display: flex;
    flex-direction: row;

    height: 100%;

    font-size: 62.5%;
}

nav
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;

    width: 13.89%;
    height: 100vh;

    background: #27293d;
}

nav ul
{
    
}

nav ul li
{

}

nav ul li a
{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 50px;
    width: 100%;

    font-size: 1rem;
    color: #dbdbdb;
    background: none;
    border-left: 0px solid #1e1e2f;
    transition: background 0.3s, color 0.3s, border-left 0.3s, border-top-right-radius 0.3s;
}

nav ul li a:hover
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 9px solid rgb(115, 103, 240);

    color: white;
    background: #32354e;
}

nav ul li a i
{
    color: #dbdbdb;
    margin-left: 5%;
    margin-right: 5%;
}

nav h1
{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

nav span
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container_content
{
    margin-left: 13.93%;
    width: 100%;
    display: flex;
    flex-direction: column;

    background: #1e1e2f;
}

.container_content .top_bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #27293d;
}

.container_content .top_bar .menu_top_bar
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.container_content .top_bar .menu_top_bar .circle_pic
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    background-position: center;
    background-size: cover;
    background-image: url("img/photo.jpg");
}

.container_content .top_bar .menu_top_bar ul
{

}   

.container_content .top_bar .menu_top_bar ul li
{
    list-style: none;
}

.container_content .top_bar .menu_top_bar ul li a
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
}

.toggle_button
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: 1%;

    cursor: pointer;
}

