<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de configuration Choixdedev.com</title>

    <link rel="stylesheet" href="../../css/app.css">
    <link rel="stylesheet" href="../../css/choix.css">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <link rel="stylesheet" href="../../css/vote.css">
    <link rel="stylesheet" href="../../font_awesome/css/all.css">
</head>

<body>
    <nav id="nav">
        <h1>DASHBOARD</h1>

        <div class="nav_content">
            <ul>
                <li><a href="#"><i class="fas fa-home fa-1x"></i> Dashboard</a></li>
                <li><a href="choix.html"><i class="far fa-images fa-1x"></i>Proposition</a></li>
                <li><a href="vote.html"><i class="fas fa-vote-yea fa-1x"></i>Les votes</a></li>
            </ul>

            <span>version 0.1</span>
        </div>

    </nav>

    <div id="container_content" class="container_content">
        <div class="top_bar">
            <div id="toggle" class="toggle_button">
                <i class="fas fa-bars fa-2x"></i>
            </div>
            <div class="menu_top_bar">
                <div class="clock"></div>
                <a href="../deconnexion.php">Déconnexion</a>
            </div>
        </div>